    .menubutton{
        cursor: pointer;
        z-index: 10;
        width: 60px;
        height: 60px;
        font-size: 22px;
        font-weight: 50;
    }
    .menubutton:hover{
        color: #BBB;
    }
    #openNav{
        position: absolute;
        top: -25px;
        right: 10px;
        visibility: visible;
        cursor: pointer;
        color: rgb(24, 24, 24);
        border-radius: 5px;
    }
    #closeNav{
        position: absolute;
        top: -25px;
        right: 10px;
        visibility: hidden;
        cursor: pointer;
        color: rgb(179, 179, 179);
        border-radius: 5px;
    }

